header{
	font-size: 20px;
}
body{
	margin-left:8%;
	margin-right: 8%;
	margin-top: 2%;
	background-color: black;
}
#About,.quotes{
	opacity: 0.9;
	background-color: white;
	
}
.h1{
	font-family: 'Sofia';
	font-size: 70px;
	line-height: 80px;
	color: black;
    margin-top: 10%;
    text-align: center;
}
#nithi{
	padding-right: 30px;
}
section{
	margin-top: 20px;
	border-radius: 10px;
}
.author{
	text-align: right;
	padding-right: 15%;
}
.quote{
	padding-left:25px;
	font-style: italic, bold;
}